<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/big1.css">
    <link rel="stylesheet" href="../static/css/all.min.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/framework.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Open+Sans:wght@400;700&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <title>Dashboard</title>
</head>

<body>
    
    <div class="page d-flex">
        <div class="sidebar">
            <h3>Plant  Ai</h3>
            <ul>

                <li><a class="select
                    " href="index.html">
                        <i class="fa-regular fa-chart-bar fa-fw"></i><span>Dashborad</span></a>
                </li>

                <li><a href="project.html"><i class="fa-brands fa-pagelines"></i><span>Plant Diseases</span></a></li>
                <li><a href="courses.html"><i class="fa-solid fa-magnifying-glass"></i><span>Disease Explorer</span></a></li>

            </ul>

        </div>
        <div class="content">
            <div class="header">
                <div class="search">
                    <input type="search" placeholder="type A keyword">
                </div>
                <div class="photo">
                    <img src="imgs/avatar.png" alt="">
                    <span class="notificationt"></span>
                </div>
            </div>
            <h1>Dashboard</h1>
            <h2>We Support :</h2>

            <div class="boxing">
                <div class="box_1">
                    <main>
                        <div id="gallery">
                            <figure>
                                <img src="../static/imgs/plants/apple.jpg">
                                <figcaption>Apple Disease </figcaption>
                            </figure>

                            <figure>
                                <img src="../static/imgs/plants/blueberry.jpg">
                                <figcaption>Blueberry Disease</figcaption>
                            </figure>
                            <figure>
                                <img src="../static/imgs/plants/Cherry.jpg">
                                <figcaption>Cherry Disease</figcaption>
                            </figure>
                            <figure>
                                <img src="../static/imgs/plants/corn.jpg" alt="Deep orange clouds at sunset. " title="Photo by Laura Vinck for Unsplash">
                                <figcaption>Corn Disease</figcaption>
                            </figure>
                            <figure>
                                <img src="../static/imgs/plants/grape.jpg" alt="Clouds in shades of dark blue and magenta at sunset. " title="Photo by Szabo Viktor for Unsplash">
                                <figcaption>Grape Disease</figcaption>
                            </figure>
                            <figure>
                                <img src="../static/imgs/plants/orange.jpg" alt="Clouds in shades of blue and gold at sunrise. " title="Photo by Łukasz Łada for Unsplash">
                                <figcaption>Ornage Disease</figcaption>
                            </figure>
                            <figure>
                                <img src='../static/imgs/plants/peach.jpg' alt='clouds and sky during daytime' title="Photo by Diego PH for Unsplash">
                                <figcaption>Peach Disease</figcaption>
                            </figure>
                            <figure>
                                <img src="../static/imgs/plants/pepper.jpg" alt="white clouds and blue sky. " title="Photo by Carlos Kenobi for Unsplash">
                                <figcaption>Pepper Disease</figcaption>
                            </figure>
                            <figure>
                                <img src="../static/imgs/plants/potato.jpg" alt="cloudy sky. " title="Photo by Alex Machado for Unsplash">
                                <figcaption>Potato Disease</figcaption>
                            </figure>
                            <figure>
                                <img src="../static/imgs/plants/raspberry.jpg" alt="rainbow during daytime. " title="Photo by Yulia Gadalina for Unsplash">
                                <figcaption>Raspberry Disease</figcaption>
                            </figure>
                            <figure>
                                <img src="../static/imgs/plants/soybean.jpg" alt="white sea of clouds. " title="Photo by Szabo Viktor for Unsplash">
                                <figcaption>Soybean Disease</figcaption>
                            </figure>
                            <figure>
                                <img src="../static/imgs/plants/squash.jpg" alt="white sea of clouds. " title="Photo by Szabo Viktor for Unsplash">
                                <figcaption>Squash Disease</figcaption>
                            </figure>
                            <figure>
                                <img src="../static/imgs/plants/strawberry.jpg" alt="white sea of clouds. " title="Photo by Szabo Viktor for Unsplash">
                                <figcaption>Strawberry Disease</figcaption>
                            </figure>
                            <figure>
                                <img src="../static/imgs/plants/tomato.jpg" alt="white sea of clouds. " title="Photo by Szabo Viktor for Unsplash">
                                <figcaption>Tomato Disease</figcaption>
                            </figure>

                        </div>
                    </main>
                    
                    <footer id='info'>Code by <a target="_blank" href="https://codepen.io/wakana-k/">Iyad</a></footer>
                    <script src="/main.js"></script>
        
        
        </div>
    </div>
</body>

</html>