<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/big1.css">
    <link rel="stylesheet" href="../static/css/all.min.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/framework.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Open+Sans:wght@400;700&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <title>Dashboard</title>
</head>

<body>
    
    <div class="page d-flex">
        <div class="sidebar">
            <h3>Plant  Ai</h3>
            <ul>

                <li><a  href="index.html">
                        <i class="fa-regular fa-chart-bar fa-fw"></i><span>Dashborad</span></a>
                </li>
                
                <li><a href="project.html"><i class="fa-brands fa-pagelines"></i><span>Plant Diseases</span></a></li>
                <li><a href="courses.html"><i class="fa-solid fa-magnifying-glass"></i><span>Disease Explorer</span></a></li>
                <li><a class="select
                    " href="plans.html"><i class="fa-solid fa-credit-card"></i><span>Payment</span></a></li>

            </ul>
        </div>
        <div class="content">
            <div class="header">
                <div class="search">
                    <input type="search" placeholder="type A keyword">
                </div>
                <div class="photo">
                    <img src="/plant_ai_final/static/imgs/avatar.png" alt="">
                    <span class="notificationt"></span>
                </div>
            </div>
            <h1>Plans

            </h1>
            <h2 class="text-center">Pick the best plan for you</h2>

<div class="pricing-box-container">
	<div class="pricing-box text-center">
		<h5>Free</h5>
		<p class="price"><sup>$</sup>0<sub>/mo</sub></p>
		<ul class="features-list">
			<li><strong>1</strong> profile</li>
			<li><strong>5</strong> Disease Explorer</li>

		</ul>
		<button class="btn-primary">Get Started</button>
	</div>

	<div class="pricing-box pricing-box-bg-image text-center">
		<h5>Premium</h5>
		<p class="price"><sup>$</sup>39<sub>/mo</sub></p>
		<ul class="features-list">
			<li><strong>5</strong> profile</li>
			<li><strong>20</strong> Disease Explorer</li>
			<li><strong>Resnet 18 </strong>Deep ai</li>
		</ul>
		<button class="btn-primary">Get Started</button>
	</div>

	<div class="pricing-box text-center">
		<h5>Platinum</h5>
		<p class="price"><sup>$</sup>89<sub>/mo</sub></p>
		<ul class="features-list">
			<li><strong>25</strong> profile</li>
			<li><strong>50</strong> Disease Explorer</li>
			<li><strong>Resnet 50</strong> Deep ai</li>
			<li><strong>50,000</strong> Disease Saved</li>
		</ul>
		<button class="btn-primary">Get Started</button>
	</div>
</div>


