<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/big1.css">
        <link rel="stylesheet" href="../static/css/all.min.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/framework.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Open+Sans:wght@400;700&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <title>Settings
    </title>
</head>

<body>
    <div class="page d-flex">
        <div class="sidebar">
            <h3>Plant  Ai</h3>
            <ul>

                <li><a  href="index.html">
                        <i class="fa-regular fa-chart-bar fa-fw"></i><span>Dashborad</span></a>
                </li>
                <!-- <li><a href="settings.html"> <i class="fa-solid fa-gear"></i> <span>settings</span></a></li> -->
                <!-- <li><a href="profile.html"><i class="fa-regular fa-user"></i><span>profile</span></a></li> -->
                <li><a class="select
                    " href="project.html"><i class="fa-brands fa-pagelines"></i><span>Plant Diseases</span></a></li>
                <li><a href="ai.html"><i class="fa-solid fa-magnifying-glass"></i><span>Disease Explorer</span></a></li>
                <li><a href="plans.html"><i class="fa-solid fa-credit-card"></i><span>Payment</span></a></li>

                <!-- <li><a href="freinds.html"><i class="fa-solid fa-user-group"></i><span>freinds</span></a></li>
                <li><a href="files.html"><i class="fa-regular fa-file"></i><span>file</span></a></li>
                <li><a href="plans.html"><i class="fa-regular fa-credit-card"></i><span>plans</span></a></li> -->
            </ul>

        </div>
        <div class="content">
            <div class="header">
                <div class="search">
                    <input type="search" placeholder="type A keyword">
                </div>
                <div class="photo">
                    <img src="imgs/avatar.png" alt="">
                    <span class="notificationt"></span>
                </div>
            </div>
            <div class="sick loader">
                <h2>Diseases
                </h2>
                
            </div>

            <div class="projects">
                <div class="project-grid">
                    <div class="box red">
                        <h2>Damping-off Disease
                        </h2>
                        <p>Symptoms: Common in early stages after seeding, causing seed rot and stunted growth. Dark spots on stems indicate the disease.


                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p>Avoid late seeding. Optimal planting time is mid-March to April. Avoid planting in soil previously used for nightshade crops.
                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Root Rot
                        </h2>
                        <p>Symptoms: Caused by fungi due to excess moisture, leading to root damage, wilting, and plant death.



                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p>Same as damping-off disease prevention
                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Wilt Disease
                        </h2>
                        <p>Symptoms: Fungal infection leading to root damage, leaf wilting, and plant death.


                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p>Protect roots, choose healthy seedlings, control soil moisture, ensure proper drainage.
                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    
                    <div class="box red">
                        <h2>Bacterial Soft Rot
                        </h2>
                        <p>Symptoms: Caused by the bacteria Pectobacterium carotovorum var. carotovora, transmitted through infected seeds or soil. Can spread through contact between tubers, seeds, and soil. Prevention includes using washed and dry potatoes and avoiding cracked ones

                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p> Choose washed and dry potatoes, avoid cracked ones.

                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Mop-Top
                        </h2>
                        <p>Symptoms: Viral disease affecting flowers and tubers caused by a virus known as Mop-Top Virus. Can be transmitted through infected seeds. Prevention involves crop rotation and using disease-resistant varieties


                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p>Rotate crops, use disease-resistant varieties.

                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Dry Rot
                        </h2>
                        <p>Symptoms: Fungal disease caused by Fusarium spp., transmitted through infected seeds or soil. Spreads through infected tubers and soil. Prevention includes careful harvesting, preventing tubers from exposure to cracks, treating infected tubers with fungicides, and storing tubers at low temperatures.



                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p>Careful harvesting, preventing tubers from exposure to cracks, treating infected tubers with fungicides, storing tubers at low temperatures.

                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Alternaria Leaf Blight

                        </h2>
                        <p>Description: Causes yellow-brown spots on squash leaves and will eventually cause the leaves to die.



                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p> If your plants are affected, removing damaged leaves and applying a fungicide will help to control the problem.


                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Powdery Mildew

                        </h2>
                        <p>White powdery mass covering leaves and stems, starting in mid-July through the end of the season and eventually leading to the leaves turning yellow and brown, shriveling and dying.



                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p>Plant disease-resistant cultivars. Treat with chemical fungicides as soon as vines start to run, though it is rare for the disease to appear before mid-summer. Don’t crowd plants. Practice strict crop rotation and remove all plant debris. Dispose of it far from your vegetable beds to keep the spores from overwintering.

                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Fusarium Crown and Foot Rot

                        </h2>
                        <p>This fungus first manifests itself as brown or tan spots on squash leaves and will kill the plant within a few days.

                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p>Besides proper watering and crop rotation, pre-treating soil with a fungicide before planting can help prevent this fungus.

                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Bacterial Leaf Spot

                        </h2>
                        <p>Causes lesions on the leaves and blisters on the squash.


                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p>Getting a clean start by using new, treated seeds ensures they are free of harmful disease bacteria. Proper watering and crop rotation can also prevent bacterial infections. Treating plants with fungicides can also be an effective treatment for bacterial infections.

                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Cercospora leaf spot (Gray leaf spot) Cercospora zeae-maydis

                        </h2>
                        <p>Small necrotic spots with chlorotic halos on leaves which expand to rectangular lesions 1-6 cm in length and 2-4 mm wide; as the lesions mature they turn tan in color and finally gray; lesions have sharp, parallel edges and are opaque; disease can develop quickly causing complete blighting of leaves and plant death.
                            1. Brown Spots with yellow rings throughout the leaf during the growing period of the Cassava
                            2. Lesions that are 0.15-0.2 cm in diameter
                            3. Serious cases can lead to holes throughout the lesions on the leaf
                            

                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p>Plant corn hybrids with resistance to the disease; crop rotation and plowing debris into soil may reduce levels of inoculum in the soil but may not provide control in areas where the disease is prevalent; foliar fungicides may be economically viable for some high yeilding susceptible hybrids.

                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Common rust Puccinia sorghi

                        </h2>
                        <p>Symptoms
                            Oval or elongated cinnamon brown pustules on upper and lower surfaces of leaves; pustules rupture and release powdery red spores; pustules turn dark brown-black as they mature and release dark brown powdery spores; if infection is severe, pustules may appear on tassels and ears and leaves may begin to yellow; in partially resistant corn hybrids, symptoms appear as chlorotic or necrotic flecks on the leaves which release little or no spore.
                            


                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p>The most effective method of controlling the disease is to plant resistant hybrids; application of appropriate fungicides may provide some degree on control and reduce disease severity; fungicides are most effective when the amount of secondary inoculum is still low, generally when plants only have a few rust pustules per leaf.

                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Northern Leaf Blight Exserohilum turcicum

                        </h2>
                        <p>Symptoms
                            In the beginning we will notice elliptical gray-green lesions on leaves. As the disease process this lesions become pale gray to tan color. Later stage the lesions looks dirty due to dark gray spores particularly under lower leaf surface. The disease can be easily identified in the field due to its long, narrow lesions which are unrestricted by veins.
                            


                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p>Follow proper tillage to reduce fungus inoculum from crop debris. Follow crop rotation with non host crop. Grow available resistant varieties. In severe case of disease incidence apply suitable fungicide.

                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Apple Scab

                        </h2>
                        <p>Symptoms of the Disease: Symptoms include yellow spots on the leaves, olive-green spots on the leaves and fruit, as well as deformation and twisting of the affected leaves, which will then turn yellow and fall off the tree.


                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p> It is recommended to remove all fallen leaves from the tree in autumn and fertilize them to prevent the spread of any diseases. Therefore, urea with zinc should be applied, and lime should be added to the fallen leaves. The use of fungicides such as copper soap and Bordeaux mixture is also necessary in areas where leaves remain moist for periods exceeding 9 hours.

                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Black Rot
                        </h2>
                        <p>Symptoms include purple spots at the edges of the leaves, brown color in the middle, and red or purple spots or black and brown rings on the fruit.



                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p>To limit the spread of the disease, it is recommended to remove dead wood, wounds, and any decaying fruit. Controlling the disease can also be achieved by using fungicides

                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Cedar apple rust

                        </h2>
                        <p>Spores overwinter as reddish-brown galls on young twigs of various juniper species. In early spring, during wet weather, these galls swell, and bright orange masses of spores are blown by the wind where they infect susceptible apple and crabapple trees. The spores that develop on these trees will only infect junipers the following year. From year to year, the disease must pass from junipers to apples to junipers again; it cannot spread between apple trees.



                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p>Choose resistant cultivars when available.
                                Rake up and dispose of fallen leaves and other debris from under trees.
                                Remove galls from infected junipers. In some cases, juniper plants should be removed entirely.
                                
                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Scale
                        </h2>
                        <p>Natural Control:
                            Monterey Fruit Tree Spray Plus
                            Monterey Horticultural Oil
                            


                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Chemical Control
                            </h2>
                            <p>
                                GardenTech® Sevin® Concentrate Bug Killer
                                
                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Stem Borer
                        </h2>
                        <p>Wilted tip on plants indicates a possibility of a little borer. If it breaks off readily, and is hollow, prune back branch until no longer hollow. Burn all pruning.



                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p>Consult County Extension Agent

                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Leafroller
                        </h2>
                        <p>Pale yellow or 'dirty' green worms. Leaves are rolled and webbed together where insects feed. Eventually becomes skeletonized. 



                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p>Hi-Yield® Vegetable & Ornamental Insect Control
                                Natural Guard® Caterpillar Killer Spray w/BT
                                
                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Botrytis Blight

                        </h2>
                        <p>Symptoms: Gray, hairy mold decays blossoms, green and ripening fruit as well as harvested fruit. 



                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p>Monterey Fruit Tree Spray Plus

                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Red Leaf Gall

                        </h2>
                        <p>Symptoms: Bladder type enlargements of all or part of a leaf, white or pink and soft, turning brown and hard with age. Seldom serious, but in wet seasons in the south, the number of galls can be quite high, hand pick and destroy. This is more of a problem in the south.



                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p>Consult County Extension Agent

                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Powdery Mildew

                        </h2>
                        <p>Symptoms: Whitish-gray powdery mold or felt like patches on buds, young leaves and twigs. Leaves may be crinkle and curl upward. Over winters in fallen leaves. 



                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p>Fall clean up is essential. 
                                Monterey Fruit Tree Spray Plus
                                
                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Brown Rot

                        </h2>
                        <p>Symptoms: Young growing tips wilt and dry just before blossoming. Fruits are yellowish, firm, leathery, turn dark and mummify. 



                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p>Clean up thoroughly in fall, hand pick all mummies.
                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Mites
                        </h2>
                        <p>Symptoms: Pinpoint size, many different colors. Found on undersides of leaves. Severe infestations have some silken webbing. Sap feeding causes bronzing of leaves. 



                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p>Monterey Fruit Tree Spray Plus
                                Monterey Horticultural Oil
                                
                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Aphids
                        </h2>
                        <p>Symptoms: They are the size of a pinhead and vary in color depending on the species. Cluster on stems and under leaves, sucking plant juices. Leaves then curl, thicken, yellow and die. Produce large amounts of a liquid waste called “honeydew”. Aphid sticky residue becomes growth media for sooty mold. 



                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p>Monterey Fruit Tree Spray Plus

                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Lybus Bugs

                        </h2>
                        <p>Symptoms: Small oval insects, color range from pale green to reddish brown or black. Feed by sucking sap, signs of infection discoloration, deformed shoot and stems, curling of leaves and lesions. 



                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p>GardenTech® Sevin® Concentrate Bug Killer

                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Spittlebugs

                        </h2>
                        <p>Symptoms: Immature bugs are small green, soft-bodied and adults are small (1/4”) winged insect that feed on the plant sap. They are surround by a white mass that looks like spit. They suck on the sap, weakening the plants. 



                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p>Monterey Fruit Tree Spray Plus
                                If infestation is small can be washed off with a hose.
                                
                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Black Rot

                        </h2>
                        <p>Symptoms: Reddish-brown spots on leaves, spots soon appear on fruit, turn black. Then entire fruit becomes black, hard, shriveled mummy. Disease usually infects vine from bottom up. Over winters in fallen mummies (some mummies may cling on plant and can transmit disease also). Fall clean up is critical in control. 



                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p>Monterey Liquid Copper Fungicide

                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Powdery Mildew

                        </h2>
                        <p>Symptoms:Appears as red blotchy areas on dormant canes. First appears on leaves as pale yellow or white spots on the upper surface. Soon a white webby substance appears and the white powdery masses. Fruit may be completely covered. Fungus may over-winter in dormant buds. 


                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p>Monterey Fruit Tree Spray Plus

                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    <div class="box red">
                        <h2>Canker (bacterial and cytospora)



                        </h2>
                        <p>Symptoms:Cytospora canker is caused by the fungus Cytospora spp. and attacks trees via weak or injured bark. Bacterial canker is caused by Pseudomonas syringae. Both tend to occur during cool, wet weather. They act and are treated similarly.



                        </p>
                        <span>15/10/2021
                        </span>
                        <div class="info">
                            <h2>Treatment
                            </h2>
                            <p>Prune off infected twigs and limbs where cankers have affected the branch. Cut out cankers that are less than half the branch circumference. Use a small, sharp knife and score the wood all the way around the canker, about an inch away from it. Dig the tip of the knife into the wood and bark as you work, and maintain a 1-inch margin around the circumference of the canker.


                            </p>

                        </div>
                        <div class="details">
                            <div class="precess">
                                <span style="width: 50%;"></span>
                            </div>


                            <p>RISK Level
                            </p>
                        </div>
                    </div>
                    
                </div>
                <div class="link">
                <a class="bn31" href="https://docs.google.com/document/d/1p7diqRJGSwexj1umguFT7MvQ3yNDCCuP/edit"><span class="bn31span">More</span></a>
            </div>
                
            </div>